<div class="fondo">
    <h1 class="titulo-actividades">Actividades Más Votadas</h1>

    <div class="cuadro">
        <div class="circulo amarillo">{{ listaTopCalificaciones[0][0] }}</div>
        <p>{{ listaTopCalificaciones[0][2] }}</p>
        <p>Calificacion: {{ listaTopCalificaciones[0][1] }}</p>
      </div>
    
      <div class="cuadro">
        <div class="circulo gris">{{ listaTopCalificaciones[1][0] }}</div>
        <p>{{ listaTopCalificaciones[1][2] }}</p>
        <p>Calificacion: {{ listaTopCalificaciones[1][1] }}</p>
      </div>
    
      <div class="cuadro">
        <div class="circulo naranja">{{ listaTopCalificaciones[2][0] }}</div>
        <p>{{ listaTopCalificaciones[2][2] }}</p>
        <p>Calificacion: {{ listaTopCalificaciones[2][1] }}</p>
      </div>
</div>