@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');

.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../../assets/fondo/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-family: 'Noto Sans Arabic', sans-serif;
}
.actividadesMasVotadas {
    text-align: center;
  }
  
  .titulo-actividades {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  
  .cuadro {
    background-color: #8949C1;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: relative; /* Agrega esto para permitir la posición relativa */
  }
  
  .circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 20px; /* Espacio entre el círculo y el contenido del cuadro */
    background-color: #FFD700;
  }
  
  .amarillo {
    background-color: #FFD700; /* Amarillo */
  }
  
  .gris {
    background-color: #808080; /* Gris */
  }
  
  .naranja {
    background-color: #FFA500; /* Naranja oscuro */
  }