<div class="inicio">
    <h2>Crear Nueva Propuesta</h2>
    
    <form (ngSubmit)="guardarPropuesta()">
      <select multiple (change)="onSelectionChange($event)">
        <option *ngFor="let actividad of actividades" [value]="actividad.id">{{actividad.titulo}}-{{actividad.descripcion}}</option>
      </select>
      <button type="submit">Guardar</button>
      <button type="button" routerLink="/crear">Cancelar</button>
    </form>
    <div class="forma1"></div>
    <div class="forma2"></div>
    </div>