<div class="crearPropuesta">
  <h2>Crear nueva propuesta</h2>

  <div class="form">
    <input id="tituloPropuesta" type="text" placeholder="titulo" [(ngModel)]="tituloPropuesta">
    <ul class="listaActividades">
      <li *ngFor="let actividad of actividades">
        <h3>{{actividad.titulo}}</h3>
        <input class="actividadParaPropuesta" type="checkbox" [id]="actividad.id" (change)="toggleActividad(actividad)">
      </li>
    </ul>
    <button class="aceptar" (click)="crearPropuesta()" >Guardar</button>
    <button class="cancelar" routerLink="/crear">Cancelar</button>
  
    <p class="textoLog">{{ textoLog }}</p>

  </div>

  <div class="forma1"></div>
  <div class="forma2"></div>
</div>