@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');

.finalJugador {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../../assets/fondo/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-family: 'Noto Sans Arabic', sans-serif;
}

.finalJugador h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
}

.finalJugador .spinner{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.finalJugador p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.finalJugador .jugador{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.801);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
}

.finalJugador .jugador img{
    max-width: 110px;
    max-height: 110px;
    margin-left: 20px;
    position: relative;
    bottom: 10px;
}

.finalJugador .jugador p{
    margin-left: 30px;
    color: rgb(51, 51, 51);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
}

.finalJugador .inicio-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 350ms ease;
    width: 110px;
  }
  
  .finalJugador .inicio-btn:hover {
    background-color: rgb(52, 63, 206);
  }