<div class="actividadConOpciones">
    <h1 class="titulo-actividad">Título de la Actividad</h1>
    
    <div class="opciones-container">
      <div class="opcion1">
        <button class="boton-rojo">Opción 1</button>
      </div>
      <div class="opcion2">
        <button class="boton-azul">Opción 2</button>
      </div>
      <div class="opcion3">
        <button class="boton-amarillo">Opción 3</button>
      </div>
      <div class="opcion4">
        <button class="boton-verde">Opción 4</button>
      </div>
    </div>
</div>

