<div class="opcionesVotarJuegoJugador">
    <div class="contador" *ngIf="conteo">{{conteo[0]}} de {{conteo[1]}}</div>
    <form class="votar">
        <button class="noMeGusta"routerLink="/despuesCadaPreguntaJugador/{{pin}}" (click)="guardarRespuesta(-1)"><img src="../../../../assets/noMeGusta.png" alt=""></button>
        <button class="meDaIgual" routerLink="/despuesCadaPreguntaJugador/{{pin}}" (click)="guardarRespuesta(0)"><img src="../../../../assets/meDaIgual.png" alt=""></button>
        <button class="meGusta" routerLink="/despuesCadaPreguntaJugador/{{pin}}" (click)="guardarRespuesta(1)"><img src="../../../../assets/meGusta.png" alt=""></button>
    </form>
    <div class="forma1"></div>
    <div class="forma2"></div>
</div>
