<div class="crearJuego">
  <h2>Crear Nueva Propuesta</h2>

  <div class="form">
    <input id="tituloJuego" type="text" placeholder="titulo" [(ngModel)]="tituloJuego">
    <ul class="listaPropuestas">
      <li *ngFor="let propuesta of propuestas">
        <h3>{{propuesta.titulo}}</h3>
        <input class="propuestaParaJuego" type="checkbox" [id]="propuesta.id" (change)="seleccionarPropuesta(propuesta)">
      </li>
    </ul>
    <button type="submit" (click)="crearJuego()" >Guardar</button>
    <button type="button" routerLink="/crear">Cancelar</button>
    
    <p class="textoLog">{{ textoLog }}</p>

  </div>

  <div class="forma1"></div>
  <div class="forma2"></div>
</div>
    