<div class="votosJuego">
    <h1>Pregunta?</h1>
    <button class="siguiente">Siguiente</button>
    <div class="grafico">
        <div class="cont">
            <div class="op1">
                <div class="relleno"></div>
                <div class="base">2</div>
            </div>
            <div class="op2">
                <div class="relleno"></div>
                <div class="base">2</div>
            </div>
            <div class="op3">
                <div class="relleno"></div>
                <div class="base">2</div>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>1/10</p>
        <h2>PIN del juego: 12345</h2>
    </div>
</div>
