<div class="crearActividad">
    <div class="titulo">
        <h1>Crear nueva actividad</h1>
    </div>
    <form class="entrarPin">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required>
      
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" [(ngModel)]="descripcion" required></textarea>
      
        <label for="imagen">Imagen:</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" id="imagen" name="imagen">

        <button class="aceptar" (click)="crearActividad()">Aceptar</button>
        <button class="cancelar" routerLink="/crear">Cancelar</button>
        
        <p class="textoLog">{{ textoLog }}</p>
    </form>
    <div class="forma1"></div>
    <div class="forma2"></div>
</div>
